{% extends 'base.html.twig' %}

{% block title %}Taille index{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Taille</h1>

    <a class="btn-all" href="{{ path('app_admin_taille_new') }}">Créer</a></button>
	<div class="header_fixed mt-4 mb-4">
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for taille in tailles %}
                    <tr>
                        <td>{{ taille.id }}</td>
                        <td>{{ taille.nom }}</td>
                        <td>
                            <a class="btn-all" href="{{ path('app_admin_taille_show', {'id': taille.id}) }}">show</a>
                            <a class="btn-all" href="{{ path('app_admin_taille_edit', {'id': taille.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
</div>
{% endblock %}
