{% extends 'base.html.twig' %}

{% block title %}Taille{% endblock %}

{% block body %}
    <h1>Taille</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ taille.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ taille.nom }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ taille.createdAt ? taille.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ taille.updatedAt ? taille.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DeletedAt</th>
                <td>{{ taille.deletedAt ? taille.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_taille_index') }}">back to list</a>

    <a href="{{ path('app_admin_taille_edit', {'id': taille.id}) }}">edit</a>

    {{ include('taille/_delete_form.html.twig') }}
{% endblock %}
