{% extends 'base.html.twig' %}

{% block title %}User index
{% endblock %}

{% block body %}
	<section id="caftan">
		<h1 class="user" >Utilisateurs</h1>

		<div class="header_fixed"> 
			<table>
				<thead>
					<tr>
						<th>Id</th>
						<th>Email</th> 
						<th>Rôle</th>
						<th>actions</th>
					</tr>
				</thead>
				<tbody>
					{% for user in users %}
						<tr>
							<td>{{ user.id }}</td>
							<td>{{ user.email }}</td>
							<td>{{ user.roles ? user.roles|json_encode : '' }}</td>
							<td>
								<a class="btn-all" href="{{ path('app_admin_user_show', {'id': user.id}) }}">show</a>
								<a class="btn-all" style="margin-top: 10px; display: inline-block;" href="{{ path('app_admin_user_edit', {'id': user.id}) }}">edit</a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="8">no records found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table> 
		</div>
		<a class="btn-all" href="{{ path('app_admin_user_new') }}" style="margin-top: 20px">Créer</a></button>
	</section>
{% endblock %}
