{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="register">
    <div class="wrapper-r">
        <form action=""></form>
            <h1>Inscription</h1>
        {{ form_errors(registrationForm) }}
            <div class="input-box">
                {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.email, {'attr': {'placeholder': 'Email'}}) }}
            </div>
            <div class="input-box">
                {{ form_row(registrationForm.plainPassword, {'attr': {'placeholder': 'Créer mot de passe'}}) }}
            </div>
            <div class="input-box">
                {{
                    form_row(registrationForm.confirmedPassword, {'attr': {'placeholder': 'Confirmer mot de passe'}})
                }}
            </div>         
            <div class="agreeTerms">
                    {{ form_row(registrationForm.agreeTerms) }}
            </div>
            <div class="register-link">
                <button type="submit" class="btn">Valider</button>
                {{ form_end(registrationForm) }}
            </div>
    </form>
    </div>
</div>
{% endblock %}
