{% extends 'base.html.twig' %}

{% block title %}Couleur index{% endblock %}

{% block body %}
	<section id="caftan">

    <h1 class="Titre">Couleurs</h1>

    <a class="btn-all" href="{{ path('app_admin_couleur_new') }}">Créer</a></button>
    <div class="header_fixed mt-4 mb-4">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for couleur in couleurs %}
                <tr>
                    <td>{{ couleur.id }}</td>
                    <td>{{ couleur.nom }}</td>
                    <td>
                        <a class="btn-all" href="{{ path('app_admin_couleur_show', {'id': couleur.id}) }}">show</a>
                        <a class="btn-all" href="{{ path('app_admin_couleur_edit', {'id': couleur.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </section>
{% endblock %}
