{% extends 'base.html.twig' %}

{% block title %}Hello CompteClientController!{% endblock %}

{% block body %}
{{ form_start(form) }}
{{ form_row(form.nom) }}
{{ form_row(form.prenom) }}
{{ form_row(form.tel) }}
<button type="submit">Valider</button>
{{ form_end(form) }}

{% endblock %}
