{% extends 'base.html.twig' %}

{% block title %}Client index{% endblock %}

{% block body %} 

    <section id="caftan">
		<h1 class="user" >Utilisateurs</h1>

		<div class="header_fixed"> 
			<table>
				<thead>
					<tr>
						  <th>Id</th>
                        <th>Nom</th>
                        <th>tel</th> 
                        <th>actions</th>
					</tr>
				</thead>
				<tbody>
					 {% for client in clients %}
                    <tr>
                        <td>{{ client.id }}</td>
                        <td>{{ client.nom }}</td>
                        <td>{{ client.tel }}</td> 
                        <td>
                            <a class="btn-all" href="{{ path('app_admin_client_show', {'id': client.id}) }}">show</a>
                            <a class="btn-all" style="margin-top: 10px; display: inline-block;" href="{{ path('app_admin_client_edit', {'id': client.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8">no records found</td>
                    </tr>
                {% endfor %}
				</tbody>
			</table> 
		</div>
		<a class="btn-all" href="{{ path('app_admin_client_new') }}" style="margin-top: 20px">Créer</a></button>
	</section>
{% endblock %}
