<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
		<meta name="viewport" content="witdh=device-width, initial-scale=1">
		<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
		{{ encore_entry_link_tags('app') }}
		{% endblock %}
        {% block javascripts %}
		{{ encore_entry_script_tags('app') }}
		{% endblock %}

        {% block head %}
		<div class="menu">
			<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
				<div class="container-fluid">
					<a class="navbar-brand" href="{{ path('app_home') }}">Lina K. Collection</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarColor01">
						<ul class="navbar-nav me-auto">
							{% if is_granted('ROLE_ADMIN') %}
								<li class="nav-item">
									<a class="nav-link active" href="{{ path('app_admin_user_index') }}">Utilisateur
										<span class="visually-hidden">(current)</span>
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{ path('app_admin_client_index') }}">Client</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{ path('app_admin_robe_index') }}">Robe</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{ path('app_admin_location_index') }}">Location</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{ path('app_admin_fournisseur_index') }}">Fournisseur</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{ path('app_admin_retoucheur_index') }}">Retoucheur</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{ path('app_admin_retouche_index') }}">Retouche</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{ path('app_admin_categorie_index') }}">Categorie</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{ path('app_admin_couleur_index') }}">Couleur</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{ path('app_admin_taille_index') }}">Taille</a>
								</li>
							{% else %}
								<li class="nav-item">
									<a class="nav-link" href="{{ path('app_client_robe_index') }}">Robe</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{ path('app_location_index') }}">Location</a>
								</li>
							{% endif %}

						</ul>
						{# <form class="d-flex">
							<input class="form-control me-sm-2" type="search" placeholder="Search">
							<button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
						</form> #}
                            {% if app.user %}
                            <div>
                            <a class="btn-nav" href="{{ path('app_logout') }}">Deconnexion</a>
                            </div>
                            {% else %}
                        <div>
							<a class="btn-nav" href="{{ path('app_register') }}">Inscription</a>
                            <a class="btn-nav" href="{{ path('app_login') }}">Connexion</a>
                        </div>
                        {% endif %}
					</div>
				</div>
			</nav>
		</div>
    {% endblock %}
    </head>

    {% block body %}
	{% endblock %}
	{% block footer %}
		<footer>
			<div class="footer">
				<div class="footer-content">
					<h3>Lina K. Collection</h3>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, quisquam minima atque explicabo natus.</p>
					<ul class="socials">
						<li><a href="https://www.facebook.com/people/Lina-Kaftan/pfbid02vXt6PdWp67fBSau44RN1JMQ11UJLXCRgk95uwdJKREfoADRX3UtZinoPdhQ4HZUZl/"><i class='bx bxl-facebook-square'></i></a></li>
						<li><a href="https://twitter.com/?lang=fr"><i class="bx bxl-twitter"></i></a></li>
						<li><a href="https://www.instagram.com/lina_k_collection/?igshid=MTk0NTkyODZkYg%3D%3D"><i class="bx bxl-instagram"></i></a></li>
						<li><a href="https://www.tiktok.com/@linak.collection"><i class="bx bxl-tiktok"></i></a></li>
						<li><a href="#"><i class="bx bxl-gmail"></i></a></li>
					</ul>
				</div>
				<div class="footer-bottom">
					<p>copyright &copy;2023 Lina K. Collection. designed by <span>Add.</span></p>
				</div>
			</div>
		</footer>
	{% endblock %}
</html>
