{% extends 'base.html.twig' %}

{% block title %}Fournisseur index{% endblock %}

{% block body %}
	<section id="caftan">
            <h1>Fournisseurs</h1>

            <a class="btn-all" href="{{ path('app_admin_fournisseur_new') }}">Create new</a></button>
            <div class="header_fixed mt-4 mb-4">
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>NomEntreprise</th>
                        <th>NumeroSiret</th>
                        <th>Adresse</th>
                        <th>Tel</th>
                        <th>Email</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for fournisseur in fournisseurs %}
                    <tr>
                        <td>{{ fournisseur.id }}</td>
                        <td>{{ fournisseur.nomEntreprise }}</td>
                        <td>{{ fournisseur.numeroSiret }}</td>
                        <td>{{ fournisseur.adresse }}</td>
                        <td>{{ fournisseur.tel }}</td>
                        <td>{{ fournisseur.email }}</td>
                        <td>
                            <a class="btn-all" href="{{ path('app_admin_fournisseur_show', {'id': fournisseur.id}) }}">show</a>
                            <a class="btn-all" href="{{ path('app_admin_fournisseur_edit', {'id': fournisseur.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="10">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

{% endblock %}
