{% extends 'base.html.twig' %}

{% block title %}Robe{% endblock %}

{% block body %}

<section id="caftan">
		<h1 class="user" >Utilisateurs</h1>

		<div class="header_fixed"> 
			<table>
				<thead>
					<tr>
                    <th>Id</th>
                    <th>Nom Robe</th>
                    <th>Description</th>
                    <th>Catégotie</th>
                    <th>Prix/jour</th>
                    <th>Fournisseur</th>
                    <th>actions</th>
                </tr>
				</thead>
				<tbody>
				{% for robe in robes %}
                    <tr>
                        <td>{{ robe.id }}</td>
                        <td>{{ robe.nomRobe }}</td>
                        <td>{{ robe.description }}</td>
                        <td>{{ robe.categorie }}
                        <td>{{ robe.prix }}</td>
                        <td>{{ robe.fournisseur }}</td>
                        <td class="action" >
                            <a class="btn-all" href="{{ path('app_admin_robe_show', {'id': robe.id}) }}">show</a>
                            <a class="btn-all" href="{{ path('app_admin_robe_edit', {'id': robe.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8">no records found</td>
                    </tr>
                {% endfor %}
				</tbody>
			</table> 
		</div>
		<a class="btn-all"  href="{{ path('app_admin_robe_new') }}" style="margin-top: 20px">Créer</a></button>
	</section>

{% endblock %}
