{% extends 'base.html.twig' %}

{% block title %}Categorie index{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Categorie index</h1>

    <button type="button" class="btn btn-dark"><a href="{{ path('app_admin_categorie_new') }}">Create new</a></button>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>CreatedAt</th>
                    <th>UpdatedAt</th>
                    <th>DeletedAt</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for categorie in categories %}
                <tr class="table-success mt-4">
                    <td>{{ categorie.id }}</td>
                    <td>{{ categorie.nom }}</td>
                    <td>{{ categorie.createdAt ? categorie.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ categorie.updatedAt ? categorie.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ categorie.deletedAt ? categorie.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        <a href="{{ path('app_admin_categorie_show', {'id': categorie.id}) }}">show</a>
                        <a href="{{ path('app_admin_categorie_edit', {'id': categorie.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
            <div class="navigation d-flex justify-content-center">
        {{ knp_pagination_render(categories) }}
    </div>
    </div>
{% endblock %}
