{% extends 'base.html.twig' %}

{% block title %}Categorie index{% endblock %}

{% block body %}
	<section id="caftan">
        <h1>Categories</h1>
        <a class="btn-all" href="{{ path('app_admin_categorie_new') }}">Create new</a></button>
		<div class="header_fixed mt-4 mb-4">
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for categorie in categories %}
                    <tr>
                        <td>{{ categorie.id }}</td>
                        <td>{{ categorie.nom }}</td>
                        <td>
                            <a class="btn-all" href="{{ path('app_admin_categorie_show', {'id': categorie.id}) }}">show</a>
                            <a class="btn-all" href="{{ path('app_admin_categorie_edit', {'id': categorie.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="navigation d-flex justify-content-center">
                {{ knp_pagination_render(categories) }}
            </div>
        </div>
    </section>
{% endblock %}
