{% extends 'base.html.twig' %}

{% block title %}Robe{% endblock %}

{% block body %}
<div clas="robe-show">
    <h1>Robe</h1>
    <div class="header_fixed mt-4 mb-4">
        <table>
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ robe.id }}</td>
                </tr>
                <tr>
                    <th>NomRobe</th>
                    <td>{{ robe.nomRobe }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ robe.description }}</td>
                </tr>
                <tr>
                    <th>Prix</th>
                    <td>{{ robe.prix }}</td>
                </tr>
                <tr>
                    <th>Image</th>
                    <td><img style="max-width: 500px;" src="{{ vich_uploader_asset(robe, 'imageFile') }}" alt=""></td></tr>
                <tr>
            </tbody>
        </table>

        <a class="btn-all" href="{{ path('app_client_robe_index') }}">back to list</a>
    </div>
</div>
{% endblock %}
